<table class="pure-table">
  <caption><%= @list[:count] %>件</caption>
<% @list[:stats].each do |stat| %>
  <tr>
<% if (stat[:title]) %>
    <td>
      <p><%= link_to stat[:statistics_name], meta_url(id: stat[:id]) %></p>
      <small><%= stat[:title] %></small>
      <small><%= stat[:cycle] %></small>
      <small><%= stat[:survey_date] %></small>
    </td>
<% else %>
    <td><%= link_to stat[:stat_name], list_url(code: stat[:stat_code]) %></td>
<% end %>
    <td><%= stat[:gov_name] %></td>
  </tr>
<% end %>
</table>
