<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpendataCharter</title>
  <%= stylesheet_link_tag "//yui.yahooapis.com/pure/0.3.0/pure-min.css" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style> .content { margin: 0 auto; padding: 0 2em; max-width: 800px; margin-bottom: 50px; line-height: 1.6em; } table { width:100%;} </style>
</head>
<body>
<div class="content">
  <h1><%= [controller.controller_name.capitalize, controller.action_name].join("#") %></h1>
  <nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      <li><%= link_to "トップ", home_url %></li>
    </ul>
  </nav>
<% if @info %>
<table class="pure-table">
  <caption>統計表の情報</cation>
  <tr>
    <td>大分類</td>
    <td><%= link_to @info[:STAT_NAME], list_url(code: @info[:CODE]) %></td>
  </tr>
  <tr>
    <td>統計名</td>
    <td><%= link_to @info[:STATISTICS_NAME], meta_url(id: @info[:ID]) %></td>
  </tr>
  <tr>
    <td>統計表の表題</td>
    <td><%= @info[:TITLE] %></td>
  </tr>
  <tr>
    <td>作成機関</td>
    <td><%= @info[:GOV_ORG] %></td>
  </tr>
  <tr>
    <td>調査年月</td>
    <td><%= @info[:SURVEY_DATE] %></td>
  </tr>
</table>
<% end %>
  <%= yield %>
</div>
</body>
</html>
